# Benchmark and type checker caches
.benchmarks/
.mypy_cache/
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environments
.env
.venv/
venv/
ENV/
env/
*.env

# Poetry files
poetry.lock

# Test and coverage outputs
.coverage
htmlcov/
.tox/
.nox/
.pytest_cache/
.cache/
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/
*.swp